@import 'colors.scss';

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    // font-family: 'Prompt', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: $orange;
}

p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: 0.7px;

    @media(max-width: 600px){
        font-size: 13px;
    }
}

section{
    padding: 60px 0;
    
    @media(max-width: 600px){
        padding: 40px 0;
    }
}

h1, h2, h3, h4, h5{
    font-weight: 800;
    font-family: 'Prompt', sans-serif;
    margin: 0;
}

.is-hidden{
    display: none!important;
}

.fadeOut{
    animation: fadeOut 0.5s ease-in-out forwards;
}

h1{
    display: inline-block;
    padding-bottom: 8px;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 5px solid;
    letter-spacing: 1.5px;

    @media(max-width: 991px){
        font-size: 40px;
    }

    @media(max-width: 600px){
        font-size: 35px;
    }
}

h2{
    font-size: 30px;
    margin-bottom: 20px;

    @media(max-width: 600px){
        text-align: center;
    }
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;

    @media(max-width: 600px){
        padding-left: 20px;
        padding-right: 20px;
    }

    &--small{
        max-width: 991px;
        margin: 0 auto;
    }

    &--full{
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1500px;
        margin: 0 auto;
    }
}

.button{
    font-family: 'Prompt', sans-serif;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    padding: 12px 30px;
    border: 3px solid #000;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    @media(max-width: 600px){
        font-size: 14px;
        padding: 10px 25px;
    }

    &:hover{
        background: #000;
        color: #fff;
    }
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__12{
        flex-basis: 100%;
    }

    &__10{
        flex-basis: 80%;
    }

    &__9{
        flex-basis: 70%;
    }

    &__8{
        flex-basis: 60%;
    }

    &__6{
        flex-basis: 50%;
    }

    &__4{
        flex-basis: 40%;
    }

    &__3{
        flex-basis: 30%;
    }

    &__2{
        flex-basis: 20%;
    }

    @media(max-width: 600px){
        &__block{
            flex-basis: 100%;
        }
    }
}

.img-container-right{
    text-align: right;
}

.img-container-center{
    text-align: center;
}

.img-container-left{
    text-align: left;
}

.margin-top-30{
    margin-top: 30px!important;
}

.text-right{
    text-align: right;
}

.strip{
    position: sticky;
    top: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.82);
    padding: 10px 20px;
    color: #fff;
    z-index: 4;
    margin-top: -76px;

    @media(max-width: 600px){
        position: static;
        margin-top: 0px;
        background: rgba(0,0,0,1);
     }

    .grid{
        align-items: center;

        @media(max-width: 600px){
           text-align: center;
        }

        &__4{
            text-align: right;
        }

        @media(max-width: 600px){
            &__4{
                text-align: center;
            }

            &__8{
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
            }

            &--block{
                flex-basis: 100%;
            }
        }
    }

    .title{
        display: inline-block;
        vertical-align: middle;

        p {
            font-family: 'Prompt', sans-serif;
            text-transform: capitalize;
            letter-spacing: 1px;
            font-size: 15px;
            margin: 0;

            @media(max-width: 600px){
                font-size: 14px;
            }
        }

        a{
            color: #fff;
            display: inline-block;
            font-size: 10px;
            letter-spacing: 1.2px;
            padding-bottom: 2px;
            font-weight: 800;
            text-transform: uppercase;
            border-bottom: 1px solid #fff;
            cursor : pointer;

            @media(max-width: 600px){
                text-align: left;
                display: block;
                border-bottom: 0;
                margin-top: 3px;
             }

            i{
                margin-right: 3px;
            }
        }
    }

    .audio-btns{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .play-btns{
        border: 2px solid #fff;
        background: transparent;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        position: relative;

        @media(max-width: 600px){
            width: 45px;
            height: 45px;
        }

        &.active{
            border: 2px solid #ff0000;
        }

        i{
            color: #fff;
            font-size: 20px;

            @media(max-width: 600px){
                font-size: 18px;
            }
        }

        .play-pause{
            position: absolute;
            top: 50%;
            left: 54%;
            transform: translate(-50%, -50%);
            cursor : pointer;

            .fas.fa-pause{
                margin-left: -4px!important;
            }
        }
       
    }
}

.social{
    display: inline-block;
    padding: 10px 15px;

    @media(max-width: 600px){
        padding: 0;
        margin-top: 10px;
    }

    p{
        margin: 0;
        font-family: 'Prompt', sans-serif;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-size: 16px;

        @media(max-width: 600px){
            display: block;
            margin-right: 0;
            margin-bottom: 5px;
         }
    }

    ul{
        padding: 0;
        margin: 0;
        display: inline-block;
        vertical-align: middle;

        li{
            list-style-type: none;
            display: inline-block;

            &:not(:last-child){
                margin-right: 10px;
            }

            a{
                position: relative;
                text-decoration: none;
                color: #000;
                display: inline-block;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: #fff;
                transition: 0.1s all ease-in-out;
            }

            i{
                font-size: 18px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(1);
                transition: 0.1s all ease-in-out;
            }

            a:hover {
                background: transparent;
                color: #fff;
                transform: scale(1.2);
                i{
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }
        }
    }
}

//Navbar & burger
.burger{
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    height: 48px;
    width: 50px;
    display: block;
    cursor: pointer;
    position: fixed;
    top: 66px;
    right: 10%;
    z-index: 999;
    @media(max-width: 1200px){
        right: 5%;
    }

    @media(max-width: 1100px){
        right: 18px;
    }

    @media(max-width: 600px){
        top: 20px;
        right: 15px;
    }

    &:hover {
        span::before{
            top: -10px;
        }
        span::after{
            top: 10px;
        }
    }

    span{
        opacity: 1;
        background-color: #191e20;
        position: absolute;
        top: 22px;
        left: 10px;
        width: 33px;
        height: 4px;
        float: right;

        &::before, &::after{
            content: '';
            position: absolute;
            background-color: #191e20;
            height: 4px;
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }
        &::before{                
            top: -8px;
            width: 28px;
        }
        &::after{
            top: 8px;
            width: 21px;
        }
    }
}

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 999; 
    top: 0;
    right: 0;
    background-color: #121212;
    overflow-x: hidden; 
    padding-top: 68px; 
    transition: 0.5s;

    a{
        cursor: pointer;
        padding: 15px 15px 15px 32px;
        text-decoration: none;
        font-size: 25px;
        color: rgba(255, 255, 255, 0.7);
        display: block;
        transition: 0.2s;
        @media(max-width: 600px){
            font-size: 22px;
        }
        
        &:not(:first-child){
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            border-left: 0 solid rgba(255, 255, 255, 0.7);
        }

        i{
            color: rgba(255, 255, 255, 0.7);
            float: right;
            margin-top: 6px;
            font-size: 20px;
            transition: all 0.1s ease-in;
            visibility: hidden;

            @media(max-width: 600px){
                visibility: visible;
            }
        }

        &:hover{
            font-size: 27px;
            color: rgba(255, 255, 255, 1);
            &:not(:first-child){
                border-left: 12px solid rgba(255, 255, 255, 0.7);
            }

            i{
                visibility: visible;
                color: rgba(255, 255, 255, 1);
                transform: scale(1.1);
            }

            @media(max-width: 600px){
                font-size: 24px;
            }
        }

        &:nth-child(2){
            border-top: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 0%;
    transform: translateX(-50%);
    height: 30px;
    width: 30px;

    span{
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        width: 30px;
        height: 2px;
        border-radius: 5px;
        background: #fff;
    }

    &--left{
        transform: rotate(45deg);
    }
    &--right{
        transform: rotate(-45deg);
    }
}

// HEADER SECTION
.header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100vh;
    background-image: url(../img/header1.jpeg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in;

    @media(max-width: 600px){
        align-items: center;
    }

    h1{
        color: #fff;
        padding: 0 15px;
        font-size: 160px;
        display: inline-block;
        text-transform: uppercase;
        border-bottom: none;
        letter-spacing: 6px;
        margin-bottom: 8px;
        margin-top: 40px;
        font-weight: 900;
        transform: translateY(0px) translateX(0%);
        animation: float 2s ease-in-out infinite;

        @media(max-width: 1300px){
            font-size: 130px;
        }

        @media(max-width: 991px){
            font-size: 90px;
        }

        @media(max-width: 500px){
            font-size: 45px;
        }
    }

    .arrow-down{
        position: absolute;
        bottom: 120px;
        left: 50%;
        //animation: hover 2s ease-in-out infinite;
        transform: translateX(-50%) rotate(-45deg);
        width: 36px;
        height: 36px;
        border-bottom: 3px solid #ffffff;
        border-left: 3px solid #ffffff;
        border-radius: 2px;

        @media(max-width: 600px){
            bottom: 40px;
            width: 30px;
            height: 30px;
        }
    }
}

// BIO SECTION
.bio{
    margin-top: 40px;

    @media(max-width: 600px){
        margin-top: 0px;
        text-align: center;
    }

    &--img1{
        width: 100%;
        max-width: 380px;
    }
}

// AUDIO SECTION
.audio{
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../img/audio.jpg);
    background-size: cover;
    background-position: center 20%;
    position: relative;
    color: #fff;
    text-align: center;

    &__title{
        margin-bottom: 15px;

        h1{
            margin: 0;
        }
    }

    &__text{
        margin-top: 20px;
    }

    &__list{
        padding:0;
        margin: 0;
    }

    &__list li{
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        margin: 20px 40px 0;

        @media(max-width: 600px){
            margin: 20px 20px 0;
        }
        
        a{
            transition: all 0.2s ease-in-out;
            i{
                font-size: 70px;
                background: linear-gradient(to right, #fff 0%, #fff 100%);
	            -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.1s ease-in-out;

                @media(max-width: 600px){
                    font-size: 55px;
                }
            }

            span{
                display: block;
                font-family: 'Prompt', sans-serif;
                color: #fff;
            }
        }

        a:hover {
            i{
                transform: scale(1.1);
            }

            i.fa-itunes-note{
                background: #fa233b;
	            -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            i.fa-spotify{
                background: linear-gradient(to right, #1cd25c 0%, #1a6834 50%, #192f1f 100%);
	            -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            i.fa-soundcloud{
                background: linear-gradient(to right, #ff9533 0%, #ff4137 100%);
	            -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            i.fab.fa-deezer{
                background:linear-gradient(45deg, #ff0000, #ffed00, #ff0092, #c2ff00, #00c7f2, #c1f1fc);
	            -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

//GALLERY SECTION
.gallery{
    text-align: center;
    position: relative;

    .gallery__img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;

        .items{
            height: auto;
            position: relative;

            img{
                width: 100%;
                height: auto;
                padding: 15px;
                transition: 0.2s all ease-in-out;

                @media(max-width: 1300px){
                    max-width: 450px;
                    padding: 12px;
                }
                @media(max-width: 991px){
                    max-width: 300px;
                    padding: 10px;
                }
                @media(max-width: 600px){
                   max-width: 100%;
                   padding: 10px 15px 0;
                }
            }

            .fa-search-plus{
                font-size: 80px;
                color: #000;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translateX(-50%) translateY(0%);
                visibility: hidden;
                opacity: 1;
            }
        }

        .items:hover img{
            opacity: 0.5;
        }

        .items:hover .fa-search-plus{
            animation: slideUp 0.3s forwards;
            z-index: -1;
        }
    }
}

.sl-overlay{
    background: #000!important;
    opacity: 0.8!important;
}

.sl-wrapper .sl-navigation button{
    color: #fff;
    font-size: 4rem!important;
}

//VIDEO SECTION
.video{
    text-align: center;
    color: #fff;
    background: #111;

    h1{
        margin: 0;
        padding: 0;
    }
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;

    &::after{
        padding-top: 56.25%;
        display: block;
        content: '';
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}

//CONTACT
.contact{
    text-align: center;

    h1{
        margin-bottom: 20px;
    }

    .line-break{
        max-width: 768px;
        width: 100%;
        margin: 20px auto;
        height: 1px;
        background:rgba(0, 0, 0, 0.04);

        @media(max-width: 600px){
            background:rgba(0, 0, 0, 0.2);
            margin: 0 auto;
        }
    }

    .grid__6{
        margin: 6px 0 0;
        padding: 25px 5px;

        &:first-child{
            border-right: 1px solid rgba(0, 0, 0, 0.2);
        }
        &:nth-child(3){
            border-right: 1px solid rgba(0, 0, 0, 0.2);
        }

        p{
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 5px;
            font-size: 12px;

            a{
                color: #111;
                font-weight: 700;
                &:hover{
                    color: #dd7920;
                }
            }
        }

        @media(max-width: 600px){
            padding: 20px 0;
            flex-basis: 100%;

            &:first-child{
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                border-right: none;
            }
        }
    }

    .name{
        font-family: 'Prompt', sans-serif;
        font-weight: 800;
        font-size: 22px!important;
        line-height: 1;

        @media(max-width: 600px){
            font-size: 20px!important;
        }
    }

    .title{
        font-size: 11px!important;
    }
}

// FOOTER
footer{
    padding: 15px 0;
    background:#dd7920;
    color: #fff;
    font-size: 12px;

    .grid{
        align-items: center;

        .grid__3{
            &:nth-child(1){
                @media(max-width: 767px){
                    flex-basis: 50%;
                }
            }
            &:nth-child(2){
                @media(max-width: 767px){
                    flex-basis: 50%;
                }
            }
            &:last-child{
                text-align: right;

                @media(max-width: 767px){
                    flex-basis: 100%;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }

        p{
            margin: 0;
            font-size: 10px;
            line-height: 1.2;
            //margin-top: 2px;
        }

        span{
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
        a{
            color: #fff;
            border-bottom: 1px solid #fff;
        }

        .footer-social{
            position: relative;
            vertical-align: middle;
            margin-right: 5px;
            text-decoration: none;
            color: #000;
            display: inline-block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: #fff;
            transition: 0.1s all ease-in-out;
            border-bottom: none;
        }

        i{
            font-size: 12px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: 0.1s all ease-in-out;
        }

        a:hover {
            background: transparent;
            color: #fff;
            transform: scale(1.2);
            i{
                transform: translate(-50%, -50%) scale(1.2);
            }
        }

        .to-top{
            text-align: center;

            @media(max-width: 767px){
                flex-basis: 50%;
            }

            &__container{
                 display: inline-block;
                 cursor: pointer;
                 font-family: 'Prompt', sans-serif;
            }

            .arrow-up{
                width: 13px;
                height: 13px;
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                border-radius: 1px;
                display: block;
                margin: 0 auto;
                transform: rotate(134deg);
            }
        }
    }
}

// LOADING OVERLAY
.loadingOverlay{
    position: fixed;
    background-color: #2c3e50;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    transition: all 0.3s ease-in-out;

    .sk-cube-grid{
        height: 60px;
        width: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        opacity: 1;
        margin-right: 40px;
        display: inline-block;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out 0;
        transition: all 0.3s ease-in-out 0;

        .sk-cube{
            width: 33%;
            height: 33%;
            background-color: #fff;
            float: left;
            -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;

            &.sk-cube1{
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
            }
            &.sk-cube2{
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
            }
            &.sk-cube3{
                -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
            }
            &.sk-cube4{
                -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s;
            }
            &.sk-cube5{
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
            }
            &.sk-cube6{
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
            }
            &.sk-cube7{
                -webkit-animation-delay: 0s;
                animation-delay: 0s;
            }
            &.sk-cube8{
                -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s;
            }
            &.sk-cube9{
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
            }
        }
    }
}

// ANIMATIONS 
@keyframes float{
    0% {
        transform: translateY(0px) translateX(0%);
    }
    
    50% {
        transform: translateY(-20px) translateX(0%);
    }
    
    100% {
        transform: translateY(0px) translateX(0%);
    }
}

@keyframes hover{
    0%{
        transform: scale(1) translateX(-50%) rotate(-45deg);
    }

    50%{
        transform: scale(1.08) translateX(-50%) rotate(-45deg);
    }

    100%{
        transform: scale(1) translateX(-50%) rotate(-45deg);
    }
}

@keyframes slideUp{
    0%{
        visibility: hidden;
        top: 80%;
        transform: translateX(-50%) translateY(0%);
    }

    100%{
        visibility: visible;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes sk-cubeGridScaleDelay{
    0%{
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }

    70%{
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    100%{
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}